/* PIE DE PAGINA */
.footer {
  bottom: 0;
  width: 100%;
  padding: 4rem 0 2rem;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1vr);
  border-top: 2px solid #000;
  box-shadow: 1px 0 4px 1px #000;
  color: #ccc;
  text-shadow: 2px 2px 2px #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #141414;
}

.footer button {
  position: relative;
  width: 240px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #000;
  border-radius: 5px;
  transition: all 300ms ease;
  background: rgba(255, 255, 255, 0.2);
}
.footer button:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
}
.footer button::after {
  content: "";
  width: 0rem;
  position: absolute;
  bottom: 0;
  border: 2px solid transparent;
  transition: all 300ms ease;
}
.footer button:hover::after {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.footer button img {
  width: 40px;
  height: 40px;
  left: 5px;
  pointer-events: none;
  position: absolute;
}
.footer .rights-reserved {
  grid-column: span 3;
  margin: 0.5rem;
  margin-top: 6rem;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
}
/* PIE DE PAGINA */
